@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');

//Colors
$primary-color: rgb(0, 255, 255);
$secondary-color: rgb(160, 32, 240);
$third-color: rgb(240, 223, 223);
$bg-color: rgb(20, 20, 20);
$text-color: #fff;

//Fonts
$font-primary: 'Poppins', sans-serif;
$font-secondary: 'Playwrite IT Moderna', sans-serif;

//Spacing
$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 2rem;
$spacing-xl: 3rem;
$spacing-xxl: 4rem;

//Media breackpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;