@use "../sass-utils/variables";

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto ;
    // grid-gap: 2.5rem;
    max-width: 1600px;
    align-content: center;
    margin: 0 auto;
    padding: 0 variables.$spacing-xl;

} 

.block {
    min-height: 100vh;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-top: variables.$spacing-xxl;

    &__content {
        flex-direction: column;
        gap: variables.$spacing-lg;
        padding-top: variables.$spacing-lg;
        padding-bottom: variables.$spacing-xxl;
        // padding-inline: variables.$spacing-xxl;

        @media screen and (max-width: variables.$breakpoint-sm) {
            padding-inline: 0;
          }
        
          @media screen and (max-width: variables.$breakpoint-md) {
            padding-inline: 0;
          }
    }
}