@use '../sass-utils//variables';

.account_wrapper {
    display: flex ;
    flex-direction: column;
    justify-content:space-around;
    align-items: start;
    letter-spacing: 1px;
    // font-size: 0.6rem;
    gap: variables.$spacing-md;
    height: 100%;

  }

.account_div {
  white-space: normal;
  word-break: break-all;
  display: flex;
}

  

