@use "../sass-utils/variables";

.btn {
    padding: 0 1.5rem;
    border-radius: 100px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.4s ease;
    border-color: transparent;
    color: variables.$text-color;
    text-transform: none;
    text-align: center;
    position: relative;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;

    &--dark {
        background-color: variables.$bg-color;
        border-color: variables.$primary-color;

        &:hover {
            color: variables.$bg-color;
        }

        &::before {
            content: '';
            position: absolute;
            top: var(--y, 50%);
            left: var(--x, 50%);
            width: 190%;
            aspect-ratio: 1/1;
            background-color: variables.$primary-color;
            border-radius: 100px;
            transform: translate(-50%, -50%) scale(0);
            opacity: 0;
            transition: opacity 0.1s, width 0.6s, height 1s, transform 1s;
            z-index: -1;
        }

        &:hover::before {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
        }  
    }

    &--menu {
        background-color: variables.$primary-color;
        border-color: variables.$primary-color;
        color: variables.$bg-color;

        .line {
            position: absolute;
            width: 60%;
            height: 4px;
            background-color: variables.$bg-color;
            border-radius: 2px;
            transition: transform 0.6s ease;

            &:nth-child(1) {
                top: 35%;
            }
            &:nth-child(2) {
                bottom: 35%;
            }
        }

        &.active {
            .line:nth-child(1) {
                transform: translateY(4px) rotate(45deg);
            }

            .line:nth-child(2) {
                transform: translateY(-6px) rotate(-45deg);
            }
        }
    }
}

.button_menu {
    display: none;

    @media screen and (max-width: variables.$breakpoint-md) {
        display: block;
      }
}