@use '../sass-utils/variables';

.footer {
    display: flex;
    flex-direction: column;
    gap: variables.$spacing-xl;
    padding-block: variables.$spacing-xxl;

    @media screen and (max-width: variables.$breakpoint-md) {
        gap: variables.$spacing-md;
        padding-block: variables.$spacing-lg;
    }
    
    @media screen and (max-width: variables.$breakpoint-sm) {
        gap: variables.$spacing-lg;
        padding-block: variables.$spacing-xl;
    }

    &__wrapper {
        display: flex;
        gap: variables.$spacing-xl;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: variables.$breakpoint-md) {
            gap: variables.$spacing-sm;
        }
        
        @media screen and (max-width: variables.$breakpoint-sm) {
            gap: variables.$spacing-sm;
        }
    }
}

.social_link_block {
    display: flex;
    flex-direction: column;
    gap: variables.$spacing-sm;
}

.social_link_wrapper {
    position: relative;
    overflow: hidden;
    height: 1.2em;
    width: 100%;
}

.social_link_top, 
.social_link_bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: start;
    text-transform: uppercase;
    line-height: 1.2;
}

.social_link_bottom {
    transform: translateY(100%);
    will-change: transform;
}

.social_link_char {
    display: inline-block;
}



