@use "../sass-utils/variables";

.wrapper {
    background-color: rgb(20, 20, 20); /* $bg-color */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

  .text_wrapper {
    text-align: center;
    padding-inline: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    white-space: wrap;
  }

  .button_wrapper {
    width: 200px;
  }
  
  .button {
    margin-top: 30px;
    padding: 10px 20px;
    background: transparent;
    border: 2px solid rgb(160, 32, 240); /* $secondary-color */
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .button:hover {
    background-color: rgb(160, 32, 240);
    color: rgb(20, 20, 20);
  }

  .pulse_animation {
    animation: pulse 3s infinite;

  }

  .prediction {
    color: rgb(0, 255, 255);
    font-style: italic;
    text-shadow: 0 0 45px rgb(0, 255, 255), 0 0 40px rgb(0, 255, 255), 0 0 25px rgb(0, 255, 255);
  }
  
 @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 0.8;
    }
    50% {
      transform: scale(1.05);
      opacity: 0.7;
    }
    100% {
      transform: scale(1);
      opacity: 1; 
    }
  }
  

  