.header_mob {
    height: calc(var(--header) - 20px);
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    margin: 10px calc(var(--side-padding) - 5px);
    background: rgba(35, 34, 34, 0.5);
    border-radius: calc((var(--header) - 20px) / 2);
    padding: calc((var(--header) - 60px) / 2) 12px;
    overflow: hidden;
    transition: height 0.4s;
}