@use "../sass-utils/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    line-height: 1.5;
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: variables.$bg-color;
    color: #fff;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    :hover {
        text-decoration: none;
        color: inherit;
    }
}

img {
    display: block;
    max-width: 100%;
    display: block;
}