@use "../sass-utils/variables";

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
  font-family: variables.$font-secondary;
  color: variables.$primary-color;

  @media screen and (max-width: variables.$breakpoint-sm) {
    font-size: 1.5rem;
  }

  @media screen and (max-width: variables.$breakpoint-md) {
    font-size: 1.75rem;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;

  @media screen and (max-width: variables.$breakpoint-sm) {
    font-size: 1.25rem;
  }

  @media screen and (max-width: variables.$breakpoint-md) {
    font-size: 1.5rem;
  }
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;

    @media screen and (max-width: variables.$breakpoint-sm) {
        font-size: 1.125rem;
    }

    @media screen and (max-width: variables.$breakpoint-md) {
        font-size: 1.25rem;
    }
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

    @media screen and (max-width: variables.$breakpoint-sm) {
        font-size: 0.875rem;
    }

    @media screen and (max-width: variables.$breakpoint-md) {
        font-size: 0.9375rem;
    }
}